# Build files
bin/
obj/
out/

# Rider IDE (JetBrains)
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Visual Studio specific
*.suo
*.user
*.cache
*.csproj.user
*.sln.docstates

# NuGet packages
packages/
*.nupkg
project.lock.json
project.assets.json

# .NET Core and .NET Framework
*.dll
*.exe
*.pdb
*.mdb
*.log
*.vs/

# User settings
*.userprefs

# Logs and debug files
*.log
*.tlog
*.dat
*.pyc

# Ignore secrets and environment variables
secrets.json
.env

# Dependencies
node_modules/
